#aboutMe {
	padding: 75px 50px;
	@include respond-to(small) {
		padding: 40px 5px;
	} 
}

#aboutMe .wrapper h2 {
	text-align: right;
}

.aboutMe__infoContainer {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@include respond-to(large) {
		flex-direction: column-reverse;
	}
}

.aboutMe__imgContainer {
	width: 37.5%;
	transition: all 0.5s ease;
	@include respond-to(large) {
		width: 65%;
		margin: 0 auto;
		margin-top: 50px;
	} @include respond-to(medium) {
		width: 80%;
	} @include respond-to(small) {
		width: 90%;
	} 
}

.aboutMe__textContainer {
	width: 50%;
	padding: 0 20px;
	padding-top: 5px;
	text-align: right;
	@include respond-to(large) {
		width: 100%;
	}
}

.aboutMe__buttonContainer {
	@include respond-to(large) {
		width: 100%;
	}
}

.aboutMe__buttonContainer button:nth-child(1){
	margin-right: 10px;
}