#contact {
	background: $brandColor;
	 @include respond-to(medium) {
		padding: 40px 10px;
	}
}

#contact .wrapper {
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	@include respond-to(xlarge) {
		flex-direction: column-reverse;
		width: 100%;
	}
}

.contact__sayHello  {
	margin-right: 1%;
	width: 50%;
	color: white;
	@include respond-to(xlarge) {
		width: 80%;
		margin: 0 auto;
	} @include respond-to(small) {
		width: 95%;
		margin-left: 0;
		margin: 0 auto;
	}
}

.contact__sayHello h2 {
	color: white;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 50px;
	@include respond-to(xlarge) {
		text-align: center;
	}
}

input, textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid white;
	background: $brandColor;
	width: 100%;
	padding: 10px 0;
	font-size: $paragarphFontSize;
	color: white;
	margin-bottom: 25px;
	&:focus {
		outline: none;
	}
	&::placeholder {
		color: white;
		font-weight: 300;
	}
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
	opacity: 0;
}

.contact__nameInput input {
	width: 40%;
	@include respond-to(small) {
		width: 100%;
	}
}

.contact__nameInput input:nth-child(1) {
	margin-right: 10px;
}	

textarea {
	height: 135px;
}
.contact__formSubmitBtm {
	display: flex;
	justify-content: center;
	color: $brandColor;
}

.contact__formSubmitBtm button {
	background: white;
	color: $brandColor;
	&:hover {
		background: $brandColor;
		color: white;
		border: 3px solid white;
	}
}

.contact__contactInfoContainer {
	width: 40%;	
	border-radius: 15px;
	color: $brandColor;
	@include respond-to(xlarge) {
		width: 100%;
		margin-bottom: 50px;
	} @include respond-to(pre-small) {
		margin-bottom: 35px;
	}
}

.contact__socialMediaIconContainer {
	margin: 0 auto;
	width: 90%;
	padding: 40px 0px;
}

.contact__socialMediaIcon {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	@include respond-to(xlarge) {
		width: 30%;
	}
}

.contact__socialMediaIcon p {
	margin-top: 0;
	@include respond-to(pre-small) {
		display: none;
	}
}

.contact__iconContainer {
	margin: 0 auto;
}

#contact i {
	color: white;
	font-size: 50px;
}

.center_middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	transform: translateY(27%);
	transition: all 0.2s ease;
	@include respond-to(xlarge) {
		width: 100%;
		margin: 0 auto;
	} @include respond-to(pre-small) {
		width: 85%;
		margin: 0 auto;
	} @include respond-to(small) {
		width: 100%;
		margin: 0 auto;
	}
}