header {
	color: white;
	width: 100%;
	position: Fixed;
	z-index: 20;
	padding-top: 10px;
}

header nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	@include respond-to(small) {
		padding-right: 2%;
		position: relative;
	}
}

nav ul {
	background: $brandColor;
	width: 100%;
	margin: 0 auto;
	justify-content: space-around;
	display: flex;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
	cursor: pointer;
	transition: all 0.5s;
	z-index: 10;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	transition: all 0.2s;
	visibility: hidden;
	opacity: 0;
	@include respond-to(small) {
		position: absolute;
		bottom: -401%;
		right: 9.5%;
		flex-direction: column;
		background: white;
		text-shadow: 1px 1px rgba(0,0,0,0.5);
		border-radius: 15px;
		display: none;
		visibility: hidden;
		opacity: 0;
		border: 2px solid $brandColor;
	} @include respond-to(ex-small) {
		width: 80%;
		bottom: -480%;
		height: 60vh;
	}
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}

.openNav {
	opacity: 1;
	visibility: visible;
	transition: all 0.2s;
}

.noBoxShadow {
	box-shadow: none;
}

.flex {
	display: flex;
}

header a {
	font-size: $paragarphFontSize;
	padding: 27px 27px;
	color: white;
	@include respond-to(small) {
		font-size: 25px;
		color: $brandColor;
	} &:hover {
		background: $brandColor;
		color: white;
		@include respond-to(small) {
			background: $brandColor;
			color: white;
			text-shadow: none;
		}
	}
}

header a:nth-child(1){
	@include respond-to(small) {
		border-top-left-radius: 10px;
	}
}

header a:nth-child(4){
	@include respond-to(small) {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

// from Jesse Couch - https://codepen.io/designcouch/pen/Atyop

.landing__hamburgerMenu {
	width: 80px;
	height: 75px;
	margin-right: 40px;
	background: $brandColor;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
	cursor: pointer;
	z-index: 20;
	display: none;
	@include respond-to(small) {
		margin-right: 5px;
		display: flex;
	}
}

#nav-icon {
  margin: auto;
  width: 50px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  background: $brandColor;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
	top: 18px;
}

#nav-icon span:nth-child(4) {
	top: 36px;
}

#nav-icon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon.open span:nth-child(2) {
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}