#portfolio h2 {
	text-align: right;
	padding-right: 60px;
}


.portfolio__piece  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}

.portfolio__piece:nth-child(even){
	flex-direction: row-reverse;
}

.portfolio__pieceImgContainer {
	width: 37.5%;
}

.portfolio__pieceImgContainer img {
	width: 100%;
}

.portfolio__pieceInfo {
	width: 49%;
}

.portfolio__pieceInfo h3 {
	text-transform: uppercase;
	color: $brandColor;
	font-weight: 400;
}

.portfolio__liveLinksContainer button {
	margin-right: 10px;
}