
$htmlFontSize: 16px;
$titleFontSize: 72px;
$subTitleFontSize: 48px;
$paragarphFontSize: 18px;

$brandColor: rgba(126, 63, 198, 1);
$brandColorFaded: rgba(126, 63, 198, 0.5);
$paragraphColor: rgba(122, 122, 122, 1);